.modal-header {
  border-bottom: none;
  display: flex;
  position: relative;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.5rem;
}

.btn-info {
  background-color: var(--clr-accent-950);
  color: var(--clr-accent-200);
  border: none;
  transition: color 0.2s all ease-in-out;
}

.btn-info:hover,
.btn-info:focus,
.btn-outline-secondary,
.btn-outline-secondary:hover {
  background-color: var(--clr-accent-200);
  color: var(--clr-accent-950);
  border: 1px solid var(--clr-accent-950);
}
